<div>
  <app-header></app-header>
</div>

<div class="container my-5">
  <div class="mx-auto" >
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner" style="height: 600px">
        <div class="carousel-item active">
          <img src="./assets/phamacy2.jpg" style="height: 600px"  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/phamacy3.jpg"  style="height: 600px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./assets/phamacy1.jpg"  style="height: 600px" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!--<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">-->
<!--  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">-->
<!--    <h1 class="display-4 fw-bold lh-1 mb-4">Pharmacy System</h1>-->
<!--    <p class="lead">Order genuine medicines, health products, and prescription drugs from the comfort of your home. Our easy-to-use platform lets you upload prescriptions, browse top brands, and get fast doorstep delivery – all backed by certified pharmacists and secure digital services. Experience a smarter, safer way to care for your health.</p>-->
<!--    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">-->
<!--      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">🛒 Shop Medicines</button>-->
<!--      <button type="button" class="btn btn-outline-secondary btn-lg px-4">🔐 Sign In</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">-->
<!--    <img class="rounded-lg-3" src="./assets/phamacy3.jpg" alt="" width="720">-->
<!--  </div>-->
<!--</div>-->
