<div class="home-background">
  <div class="content">
    <app-header></app-header>

    <div class="container my-5">
      <!-- Your carousel and content here -->
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3  ">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1 mb-4">Pharmacy System</h1>
          <p class="lead">Order genuine medicines, health products, and prescription drugs from the comfort of your home. Our easy-to-use platform lets you upload prescriptions, browse top brands, and get fast doorstep delivery – all backed by certified pharmacists and secure digital services. Experience a smarter, safer way to care for your health.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">🛒 Shop Medicines</button>
            <button type="button" class="btn btn-success btn-lg px-4">🔐 Sign In</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





